@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-weight:bold;
    font-family:'Raleway', sans-serif;
}
body{
    min-height:600px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
form{
    width:300px;
    height:300px;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding:20px;
    background:white;
}
h2{
    color:#ffbe6a;
    text-shadow:2px 2px 5px #f6ffaa;
    text-align:center;
}
input{
    width:80%;
    height:30px;
    outline:none;
    border:none;
    border-bottom:2px solid #ffbe6a;
    background:transparent;
    color:#ffbe6a;
    padding:4px;
    border-radius:4px;
}
#password span{
    display:none;
    opacity:0;
    font-size:10px;
    margin:5px 5px 0 0;
    color:red;
    transition:opacity .2s;
}
#username span{
    display:none;
    opacity:0;
    font-size:10px;
    margin:5px 5px 0 0;
    color:red;
    transition:opacity .2s;
}
#username{
    order:1;
    color:black;
}
input[type="text"]{
    order:2;
}
#password{
    order:3;
    color:black;
}
input[type="password"]{
    order:4;
}
#btn{
    width:40%;
    height:30px;
    margin-left:60%;
    order:5;
    border:2px solid #ffbe6a;
    color:black;
    background:#ffbe6a;
    border-radius:10px;
    font-weight:bold;
    letter-spacing:2px;
    position:relative;
}
input[type="password"]:focus:valid{
    border-bottom:2px solid #00ff04;
    color:#00ff04;
}
input[type="password"]:focus:invalid{
    border-bottom:2px solid red;
    color:red;
}
input[type="password"]:focus:invalid~#password{
    color:red;
}
input[type="password"]:focus:valid~#password{
    color:#00ff04;
}
input[type="password"]:focus:invalid~#password span{
    opacity:1;
    display:block;
}
input[type="text"]:focus:valid{
    border-bottom:2px solid #00ff04;
    color:#00ff04;
}
input[type="text"]:focus:invalid{
    border-bottom:2px solid red;
    color:red;
}
input[type="text"]:focus:invalid~#username{
    color:red;
}
input[type="text"]:focus:valid~#username{
    color:#00ff04;
}
input[type="text"]:focus:invalid~#username span{
    opacity:1;
    display:block;
}
button span{
    display:block;
    position:absolute;
    width:140px;
    background:#333;
    color:red;
    font-size:10px;
    padding:5px;
    border-radius:5px;
    top:-40px;
    left:-40px;
    opacity:0;
    transition:opacity .5s;
}
button:hover span{
    opacity:1;
}
.summary h2{
    border:5px solid #ffbe6a;
    height:50px;
    width:50px;
    color:black;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    bottom:30px;
    right:10px;
    animation:dance 1s linear infinite .9s;
}
@keyframes dance{
    25%{
        transform:translateY(5px)
    }
    50%{
        transform:translateY(0)
    }
    75%{
        transform:translateY(5px)
    }
    100%{
        transform:translateY(0)
    }    
}
.summary p{
    position:fixed;
    height:400px;
    font-size:15px;
    z-index:1;
    background:#ffbe6a;
    width:100%;
    left:0;
    bottom:-100%;
    transition:bottom .9s,opacity .9s;
    padding:20px;
    line-height:1.5;
    color:white;
    overflow-y:scroll;
    opacity:0;
}
.summary h2:hover~p{
    bottom:0;
    opacity:1;
}
a{
    color:#00ff04;
}
@media (min-width:768px){
    body{
        display:flex;
        justify-content:space-between;
        min-height:100vh;
        max-width:1300px;
        margin-top:0;
        flex-direction:row;
        overflow:hidden;
       }
   .form-content{
        order:1;  
        width:50%; 
        justify-content:center;
       }
       .summary{
           height:600px;
           order:2;
           position:relative;
           width:50%; 
           top:0;         
       }
       .summary h2{
           display:none;
       }
       .summary p{
           opacity:1;
           position:relative;
           top:0;           
           height:100%;
           padding-top:25px;
           font-size:20px;
       }
}

